@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme inline {
  /* --text: hsl(256, 74%, 6%); */
  /* --background: hsl(255, 67%, 99%);
  --primary: hsl(255, 85%, 35%);
  --secondary: hsl(240, 85%, 66%);
  --accent: hsl(75, 63%, 49%); */
  --text: hsl(0, 0%, 0%);
  --background: hsl(180, 60%, 99%);
  --primary: hsl(204, 91%, 31%);
  --secondary: hsl(186, 24%, 83%);
  --accent: hsl(126, 89%, 29%);

  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-primary-foreground: hsl(0, 0%, 100%);
  --color-secondary-foreground: hsl(0, 0%, 10%);
  --color-accent-foreground: hsl(126, 89%, 90%);
  --color-muted-foreground: hsl(0, 0%, 50%);
  --color-muted: hsl(180, 60%, 92%);

  --color-primary-dark: oklch(0.28 0.14 249.1);
  --color-secondary-dark: oklch(0.75 0.06 192.0);
  --color-accent-dark: oklch(0.29 0.14 141.5);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-gantari), sans-serif;
}


@layer base {
  * {
    @apply outline-[var(--color-primary)]/50;
  }

  body {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)];
  }
}

.wave-underline {
  position: relative;
}

.wave-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 8px;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 120 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 Q 30 20 60 10 T 120 10' fill='none' stroke='white' stroke-width='4'/%3E%3C/svg%3E") repeat-x;
  background-size: contain;
}